@import "tailwindcss";
@plugin "daisyui";

.menu :where(li:not(.menu-title, .disabled) > :not(ul, details, .menu-title):not(.menu-active, :active, .btn):hover, li:not(.menu-title, .disabled) > details > summary:not(.menu-title):not(.menu-active, :active, .btn):hover) {
    color: #2563eb;
    background-color: transparent;
}

.menu :where(li)> :not(ul, .menu-title, details, .btn):active,
.menu :where(li)> :not(ul, .menu-title, details, .btn).menu-active,
.menu :where(li)>details>summary:active {
    background-color: transparent !important;
    color: #2563eb;
}

.input:focus,
.input:focus-within {
    outline: none !important;
}