@import "tailwindcss";
@plugin "daisyui";

.menu :where(li:not(.menu-title, .disabled) > :not(ul, details, .menu-title):not(.menu-active, :active, .btn):hover, li:not(.menu-title, .disabled) > details > summary:not(.menu-title):not(.menu-active, :active, .btn):hover) {
    color: #2563eb;
    background-color: transparent;
}

.menu :where(li)> :not(ul, .menu-title, details, .btn):active,
.menu :where(li)> :not(ul, .menu-title, details, .btn).menu-active,
.menu :where(li)>details>summary:active {
    background-color: transparent !important;
    color: #2563eb;
}

.input:focus,
.input:focus-within {
    outline: none !important;
}


.profile-tabs-container .react-tabs {
    width: 100%;
}

.profile-tabs-container .react-tabs__tab-list {
    border-bottom: 2px solid #e5e7eb;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.profile-tabs-container .react-tabs__tab {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border: none;
    border-bottom: 3px solid transparent;
    background: transparent;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b7280;
    transition: all 0.2s;
    position: relative;
    bottom: -2px;
}

.profile-tabs-container .react-tabs__tab:hover {
    color: #374151;
    background-color: #f9fafb;
    border-radius: 0.5rem 0.5rem 0 0;
}

.profile-tabs-container .react-tabs__tab--selected {
    color: #3b82f6;
    border-bottom-color: #3b82f6;
    background: transparent;
}

.profile-tabs-container .react-tabs__tab:focus {
    outline: none;
    box-shadow: none;
}

.profile-tabs-container .react-tabs__tab-panel {
    display: none;
}

.profile-tabs-container .react-tabs__tab-panel--selected {
    display: block;
}